.about-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 100vh;
  padding: 100px 0 100px 0;
}

.about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 93%;
  padding: 0 100px 0 100px;
}

.about-desc > h3 {
  font-size: 2.3rem;
  padding: 1rem;
  text-align: center;
}

.about-desc > p {
  line-height: 1.5;
}

.about-img {
  width: 45%;
  height: 80%;
  display: flex;
  margin-top: 3rem;
  align-self: center;
  margin-left: 7rem;
  overflow: hidden;
  border-radius: 4rem;
}
