.about-container {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgb(206, 206, 206);
  color: rgb(0, 0, 0);
  padding: 4rem 4rem;
}

.about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 0 0 0 3rem;
  margin-top: 0.5rem;
}

.about-desc > h3 {
  font-size: 3.7rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.about-desc > p {
  font-size: 1.5rem;
}

.about-img {
  width: 45%;
  height: 70%;
  display: flex;
  margin-top: 3.5rem;
  align-self: center;
  margin-left: 10rem;
  overflow: hidden;
  border-radius: 3rem;
}

/* IPHONE PORTRAIT */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .about-container {
    flex-direction: column;
    padding: 0;
    height: auto;
  }
  .about-desc {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
    font-size: 1rem;
    text-align: center;
  }

  .about-desc > h3 {
    position: relative;
    top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .about-desc > p {
    font-size: 1.2rem;
    position: relative;
    top: 0rem;
  }

  .about-img {
    width: 50%;
    margin: auto;
    position: relative;
    top: 0rem;
  }

  .about-img > img {
    width: 100%;
    height: 40%;
    margin: auto;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .about-img {
      width: 50%;
      margin: auto;
      position: relative;
      top: 0rem;
      margin-bottom: 20%;
    }
  }
}

/* TABLET DEVICES */
@media screen and (max-device-width: 960px), screen and (max-width: 960px) {
  .about-container {
    flex-direction: column;
    padding: 0;
    height: auto;
  }
  .about-desc {
    width: 100%;
    padding: 40px 20px 0px 20px;
    text-align: center;
  }

  .about-desc > h3 {
    font-size: 1.8rem;
    margin-top: 5%;
  }

  .about-desc > p {
    font-size: 1.3rem;
  }

  .about-img {
    width: 50%;
    max-width: 250px;
    margin: auto;
    position: relative;
    top: 2rem;
    margin-bottom: 15%;
  }

  .about-img > img {
    width: 100%;
    height: 40%;
    margin: auto;
  }
}

/* MEDIUM DEVICES */
@media only screen and (min-width: 961px) {
  .about-desc {
    width: 100%;
    padding: 20px 0px 0px 0px;
    text-align: center;
  }
  .about-desc > p {
    font-size: 1.2rem;
  }
  .about-desc > h3 {
    font-size: 3rem;
  }
  .about-img {
    width: 60%;
  }
}

/* LARGE DEVICES (my laptop screen) */
@media only screen and (min-width: 1200px) {
  .about-desc {
    width: 100%;
    padding: 0px 0px 0px 70px;
    text-align: center;
  }
  .about-desc > p {
    font-size: 1.3rem;
  }
  .about-desc > h3 {
    font-size: 3rem;
  }
}

/* VERY LARGE DEVICES (my other monitor) */
@media only screen and (min-width: 1600px) {
  .about-desc > p {
    font-size: 1.4rem;
  }
  .about-desc > h3 {
    font-size: 3.5rem;
  }
}
