.up-arrow {
  color: rgb(114, 114, 114);
  font-size: 2.2rem;
  display: flex;
  position: fixed;
  top: 92%;
  left: 95%;
  display: none;
  cursor: pointer;
  animation: updown 0.3s;
}

@keyframes updown {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.up-arrow-scrolling {
  display: flex;
}

/* SMALL MOBILE DEVICES */
@media only screen and (max-device-width: 350px) and (orientation: portrait) {
  .up-arrow {
    left: 85%;
  }
}

/* MOBILE DEVICES */
@media only screen and (min-device-width: 351px) and (max-device-width: 480px) and (orientation: portrait) {
  .up-arrow {
    left: 88%;
  }
}

/* TABLET DEVICES */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .up-arrow {
    left: 90%;
    top: 90%;
  }
}

/* MEDIUM DEVICES */
@media only screen and (min-width: 961px) and (max-width: 1199px) {
  .up-arrow {
    top: 90%;
  }
}

/* LARGE DEVICES (my laptop screen) */
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .up-arrow {
    top: 90%;
  }
}

/* VERY LARGE DEVICES (my other monitor) */
@media only screen and (min-width: 1500px) {
  .up-arrow {
    top: 90%;
  }
}
