.up-arrow {
  color: rgb(114, 114, 114);
  font-size: 2.2rem;
  display: flex;
  position: fixed;
  z-index: 100;
  top: 92%;
  left: 95%;
  display: none;
  cursor: pointer;
  animation: updown 1s 1;
}

@keyframes updown {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.up-arrow-scrolling {
  display: flex;
}

@media screen and (max-width: 960px) {
  .up-arrow {
    left: 90%;
  }
}
