* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(117, 117, 117);
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  body::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  
  @supports (-webkit-touch-callout: none) { 
    body {
      /* The hack for Safari */ height: -webkit-fill-available; 
    }
}

  h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

font-weight: normal;

}
