* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --white-color: rgb(206, 206, 206);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(117, 117, 117);
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  body::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(117, 117, 117);
    border-radius: 10px;
  }
}

::-moz-selection {
  background-color: rgb(117, 117, 117);
}

::selection {
  background-color: rgb(117, 117, 117);
}
